@model IEnumerable<EyeHistoria.Models.Symptoms>

<link rel="stylesheet" type="text/css" href="~/css/Index.css">
<link rel="stylesheet" type="text/css" href="~/css/Admin.css">



<h1>Symptoms</h1>

<hr />
<p>
    <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="Create">+ Create New</a>

</p>
<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        Search Symptom:
        <select class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="searchBy">
            <option value="#" class="dropdown-item">Filter By</option>
            <option value="SymptomID" class="dropdown-item">SymptomID</option>
            <option value="SymptomName" class="dropdown-item">SymptomName</option>
        </select>
        <input type="text" name="SearchString" class="form-control" id="diagnosisInput" aria-label="Text input with dropdown button">
        <input type="submit" value="Search" class="btn btn-outline-secondary" />
    </div>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SymptomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SymptomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SymptomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="DeleteSymptoms" asp-controller="Admin" asp-route-id="@item.SymptomID">
                        X
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

