@model IEnumerable<EyeHistoria.Models.Symptoms>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/Admin.css">
<link rel="stylesheet" type="text/css" href="~/css/Index.css">

<h1>Patient Records</h1>

<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SymptomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SymptomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SymptomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="DeleteSymptoms" asp-controller="Admin" asp-route-id="@item.SymptomID">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
