@model IEnumerable<EyeHistoria.Models.Symptoms>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SymptomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    <a asp-action="DeleteSymptoms" asp-controller="Admin"
                       asp-route-id="@item.SymptomID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
