@model IEnumerable<EyeHistoria.Models.Diagnosis>

<p>
    <a asp-action="AddDiagnosis">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosisID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosisName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnMore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List_of_diagnosis_symptoms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisName)
            </td>
            <td>
                <a href="@item.LearnMore" target="_blank">
                    @Html.DisplayFor(modelItem => item.LearnMore)
                </a>
            </td>
            <td>
                @string.Join(", ", item.List_of_diagnosis_symptoms)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tests)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DiagnosisID">Hello</a>
            </td>
        </tr>
}
    </tbody>
</table>
