@model IEnumerable<EyeHistoria.Models.Question>
<link rel="stylesheet" type="text/css" href="~/css/Index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/css/ViewQuestions.css">


@{
    ViewData["Title"] = "ViewQuestions";
}

<h1>Questions</h1>

<p>
    <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AddQuestions">+ Create New</a>
</p>
<form asp-action="ViewQuestions" method="get">


    <div class="input-group mb-3">
        Search Diagnosis:
        <select class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="searchBy">
            <option value="#" class="dropdown-item">Filter By</option>
            <option value="QuestionText" class="dropdown-item">Question Content</option>
            <option value="QuestionID" class="dropdown-item">QuestionID</option>
        </select>
        <input type="text" name="SearchString" class="form-control" id="diagnosisInput" aria-label="Text input with dropdown button">
        <input type="submit" value="Search" class="btn btn-outline-secondary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateQuestion", new {id = item.QuestionID }) |
                @Html.ActionLink("Delete", "DeleteQuestions", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
