@model IEnumerable<EyeHistoria.Models.Diagnosis>
<link rel="stylesheet" type="text/css" href="~/css/Index.css">


<p>
    <a asp-action="AddDiagnosis">Create New</a>
</p>
<div>
    <form asp-action="ViewDiagnosis" method="get">
        <p>
            Search Diagnosis : <input type="text" name="SearchString" />
            <input type="submit" value="Search">
        </p>
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosisID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosisName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnMore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List_of_diagnosis_symptoms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisName)
            </td>
            <td>
                <a href="@item.LearnMore" target="_blank">
                    @Html.DisplayFor(modelItem => item.LearnMore)
                </a>
            </td>
            <td>
                @string.Join(", ", item.List_of_diagnosis_symptoms)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tests)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DiagnosisID">Hello</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
