@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<!-- test commit -->
<html lang="en">
<head>
    <meta charset="utf‐8" />
    <meta name="viewport" content="width=device‐width, initial‐scale=1.0" />
    <link rel="stylesheet" href="~/EyeHistoria.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/Index.css">
    <link rel="stylesheet" type="text/css" href="~/css/Index1.css">


          

</head>
<body>
    <section class="hero-section">
        <img src="~/lib/images/poto.jpg" alt="Wide Image">
        <div class="hero-content">
            <h1>Welcome to EyeHistoria</h1>
            <p>Explore the symptoms and submit diagnosis.</p>
            <button onclick="scrollToSymptoms()">Explore Symptoms</button>
        </div>
    </section>
    <div class="container">
        <h4>Select Patient's Symptoms</h4>
            <div class="row">
            <form method="post" action="~/Home/SubmitDiagnosis">
            <div class="col-sm-6">
                <div class="symptom_checker">
                    @foreach (var symptom_item in Model.List_of_symptoms)
                    {
                        <div class="symptom">
                            <label for="@symptom_item.SymptomName">
                            <input type="checkbox" style="display:none" id="@symptom_item.SymptomName" name="@symptom_item.SymptomName" value="@symptom_item.SymptomName" 
                                        data-onset="@symptom_item.SymptomName@Html.Raw("_Onset")" 
                                        data-location="@symptom_item.SymptomName@Html.Raw("_Location")"
                                        data-duration="@symptom_item.SymptomName@Html.Raw("_Duration")"
                                        data-characteristics="@symptom_item.SymptomName@Html.Raw("_Characteristics")"
                                        data-aggravation="@symptom_item.SymptomName@Html.Raw("_Aggravation")"
                                        data-relief="@symptom_item.SymptomName@Html.Raw("_Relief")"
                                        data-timing="@symptom_item.SymptomName@Html.Raw("_Timing")"
                                        data-severity="@symptom_item.SymptomName@Html.Raw("_Severity")">
                                   <span class="symptom_names">@symptom_item.SymptomName</span>
                            </label>
                        </div>

                    }
                </div>
                <input type="submit" value="Submit Result" />
            </div>
            <div class="OLDCARTS">
                @{
                    List<string> OLDCARTS = new List<string> { "Onset", "Location", "Duration", "Characteristics", "Aggravation", "Relief", "Timing", "Severity" };
                    // iterates through OLDCARTS acronym
                    foreach (var ancronym in OLDCARTS)
                    {
                        <div>
                            <p>@Html.Raw(ancronym)</p>
                            @*Iterates through all the questions*@
                            @foreach (var question in Model.General_Questions)
                            {
                                // if the ancronym matches pass through
                                if (question.General_Question.Type == ancronym)
                                {
                                    // Each general question
                                    <ul id="@($"{question.General_Question.SymptomName}_{ancronym}")" style="display:none">
                                        @question.General_Question.QuestionText
                                        @foreach (var follow_up_qns in question.Follow_Questions)
                                        {
                                            // the follow up questions
                                            <li>
                                                @follow_up_qns.QuestionText
                                                <br />
                                                @if (follow_up_qns.Data_question.DataType == "Yes/No") // Yes/No options
                                                {

                                                    <input type="radio" class="btn-check" name="@($"{follow_up_qns.Data_question.Data_questionId}_Yes_No")" id="@($"{follow_up_qns.Data_question.Data_questionId}_Yes")" autocomplete="off" value="Yes">
                                                    <label class="btn btn-outline-primary" for="@($"{follow_up_qns.Data_question.Data_questionId}_Yes")">Yes</label>
                                                    <input type="radio" class="btn-check" name="@($"{follow_up_qns.Data_question.Data_questionId}_Yes_No")" id="@($"{follow_up_qns.Data_question.Data_questionId}_No")" autocomplete="off" value="Yes">
                                                    <label class="btn btn-outline-primary" for="@($"{follow_up_qns.Data_question.Data_questionId}_No")">No</label>
                                                }
                                                else if (follow_up_qns.Data_question.DataType == "Severity") // Severity level
                                                {
                                                    // Severity input from 1 to 5
                                                    for (int i = 1; i < 6; i++)
                                                    {
                                                        <input type="radio" class="btn-check" name="@follow_up_qns.Data_question.Data_questionId@Html.Raw("_Option")" id="@follow_up_qns.Data_question.Data_questionId@i" autocomplete="off" value="@i">
                                                        <label class="btn btn-outline-primary" for="@follow_up_qns.Data_question.Data_questionId@i">@i</label>
                                                    }
                                                }
                                            </li>
                                        }
                                        <span class="close">&times;</span>
                                    </ul>
                                }

                            }
                        </div>

                    }
                }   
                    
          
            </div>
            </form>
        </div>
    </div>

    <!-- Passing Model.List_of_symptoms to Index.js -->
    <div id="symptoms-data" data-symptoms="@Html.Raw(Json.Serialize(Model.List_of_symptoms))"></div>

    <!-- Javascript file -->
    <script src="~/js/Index.js">
    </script>
</body>
</html>