@model IEnumerable<EyeHistoria.Models.Disease>

@{
    ViewData["Title"] = "SubmitDiagnosis";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/EyeHistoria.styles.css"
      asp-append-version="true" />
<link rel="stylesheet" type="text/css" href="~/css/Index.css">


<h1>SubmitDiagnosis</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disease_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disease_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match)
            </td>
            <td>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@Html.DisplayFor(modelItem => item.Disease_name)" aria-expanded="false" aria-controls="collapse_@Html.DisplayFor(modelItem => item.Disease_name)">
                    Button with data-bs-target
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="collapse" id="collapse_@Html.DisplayFor(modelItem => item.Disease_name)">
                    <!-- matched symptoms -->
                    <div class="card card-body">
                        <span style="color:green;">matched symptoms</span>
                        @foreach (string matched_symptoms in item.Matched_symptoms)
                        {
                             <div>@matched_symptoms</div>
                        }
                        <span style="color:red;">unmatched symptoms</span>
                        @foreach (string unmatched_symptoms in item.Unmatched_symptoms)
                        {
                             <div>@unmatched_symptoms</div>
                        }
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
