@model IEnumerable<EyeHistoria.Models.Disease>

@{
    ViewData["Title"] = "SubmitDiagnosis";
}
<link rel="stylesheet" type="text/css" href="~/css/Diagnosis.css">

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/EyeHistoria.styles.css"
      asp-append-version="true" />
<link rel="stylesheet" type="text/css" href="~/css/Index.css">


<h1>Patient's Diagnosis</h1>

<hr />

<div class="table1">
<table class="table">
    <thead>
        <tr>
            <th>
                Diseases/Conditions
            </th>
            <th>
                Match Rate (%)
            </th>
            <th>
                View More
            </th>
            <th>
                Possible Tests
            </th>
            <th>

            </th>
            <th>
                Matched Symptoms 
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disease_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match)
            </td>
            <td>
                <a href="@item.LearnMore" target="_blank">
                    @Html.DisplayFor(modelItem => item.LearnMore)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tests)
            </td>
            <td>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@Html.DisplayFor(modelItem => item.Disease_name)" aria-expanded="false" aria-controls="collapse_@Html.DisplayFor(modelItem => item.Disease_name)">
                    View Details >
                </button>
                        
            </td>
                    <td>
                        <div class="collapse" id="collapse_@Html.DisplayFor(modelItem => item.Disease_name)">
                            <!-- matched symptoms -->
                            <div class="card card-body">
                                <span style="color:green;">matched symptoms</span>
                                @foreach (string matched_symptoms in item.Matched_symptoms)
                                {
                                    <div>@matched_symptoms</div>
                                }
                                <br/>
                                <span style="color:red;">unmatched symptoms</span>
                                @foreach (string unmatched_symptoms in item.Unmatched_symptoms)
                                {
                                    <div>@unmatched_symptoms</div>
                                }
                                
                            </div>
                        </div>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>