@model IEnumerable<EyeHistoria.Models.Disease>

@{
    ViewData["Title"] = "SubmitDiagnosis";
}
<link rel="stylesheet" type="text/css" href="~/css/Diagnosis.css">

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/EyeHistoria.styles.css"
      asp-append-version="true" />
<link rel="stylesheet" type="text/css" href="~/css/Index.css">


<h1>Patient's Diagnosis</h1>
@{
    List<Submit_symptoms> list_of_submitted_symptoms = ViewData["List_FormInput"] as List<Submit_symptoms>;
}
<table class="table">
    <thead>
        <tr>
            <th>
                Optometrist Input
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (Submit_symptoms submit_symptom in list_of_submitted_symptoms)
                {
                    <span style="font-weight:bold;">@submit_symptom.SymptomName_ticked</span>
                    @foreach (var yes_no_data in @submit_symptom.Yes_No_data)
                    {
                        foreach(Question followUp_Question in submit_symptom.FollowUp_Questions)
                        {
                            if (followUp_Question.Data_questionID == yes_no_data.Key)
                            {
                                <div>@followUp_Question.QuestionText : @yes_no_data.Value</div>
                            }
                        }     
                    }
                    @foreach (var severity_level in @submit_symptom.Severity_level)
                    {
                        foreach (Question followUp_Question in submit_symptom.FollowUp_Questions)
                        {
                            if (followUp_Question.Data_questionID == severity_level.Key)
                            {
                                <div>@followUp_Question.QuestionText : @severity_level.Value</div>

                            }
                        }
                    }
                }
            </td>
        </tr>
    </tbody>
</table>
<hr />

<div class="table1">
<table class="table">
    <thead>
        <tr>
            <th>
                Diseases/Conditions
            </th>
            <th>
                Match Rate (%)
            </th>
            <th>
                View More
            </th>
            <th>
                Possible Tests
            </th>
            <th>
                <span style="color:green;">Matched Symptoms</span>
                 
            </th>
            <th>
                <span style="color:red;">UnMatched Symptoms</span>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disease_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match)
            </td>
            <td>
                <a href="@item.LearnMore" target="_blank">
                    @Html.DisplayFor(modelItem => item.LearnMore)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tests)
            </td>
            <td>
                <!-- matched symptoms -->
                @foreach (var matched_symptom in item.Matched_symptoms)
                {
                    <div style="font-weight:bold;">@matched_symptom.Key</div>
                    foreach (var data_question in matched_symptom.Value)
                    {
                        <div> - @data_question.DataType -> Ans : @data_question.DataValue</div>
                    }
                }
            </td>
            <td>
                <!-- UnMatched symptoms -->
                @foreach (var unmatched_symptom in item.Unmatched_symptoms)
                {
                    <div style="font-weight:bold;">@unmatched_symptom.Key</div>
                    foreach (var data_question in unmatched_symptom.Value)
                    {
                        <div> - @data_question.DataType -> Ans : @data_question.DataValue</div>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
</div>